<!DOCTYPE html>
<html lang="en">

<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

<head>
  <title> FiFi Bot Invite </title>
  <link rel="Fifi Icon" type="image/png" href="https://cdn.discordapp.com/attachments/749875006238097478/833898070571614228/fifi_icon_transparent_background_revised_revised.png"/>
  <style>
  html {
      font-family: 'Comfortaa';
      margin: 0 auto;
    }
    body {
      vertical-align: middle;
      text-align: center;
    }
    img {
      opacity: 1;
      url: url('https://cdn.discordapp.com/avatars/775986947796762645/6d21ddf0d776f80afae17bced54f1cb8.webp?size=256');
    }
    p {
      font-size: 1.25em;
    }
    a{
      font-size: 1.25em;
      line-height: 200%;
    }
  </style>
</head>

<h1> We are Sorry! </h1>
<p> FiFi and any other bots that are part of Fifi/MemeVengerz is not open for other servers right now. Use the bots in our server
<a href="https://discord.gg/3c5kc8M"> Click here to join our server and use the bots!
<br>
<br>
<a href="https://fifi.ayomerdeka.com"> Click here to go back to the home page! </a>
<br>
<img src='https://cdn.discordapp.com/avatars/775986947796762645/6d21ddf0d776f80afae17bced54f1cb8.webp?size=256'>
<br>
<br>
<img src='https://cdn.discordapp.com/avatars/775986947796762645/6d21ddf0d776f80afae17bced54f1cb8.webp?size=128' align="left">
<br>
<footer> Copyright (c) 2021 Meme Studios </footer>